.lyrics {
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  margin: 1rem 0;
  margin-bottom: 10rem;
  color: var(--light-color);
}

.lyrics p {
  font-size: 1.4rem;
  height: 2rem;
  line-height: 2rem;
  animation: fadeIn 300ms, slideUp 200ms;
  animation-timing-function: ease-out;
}

// (1) previous line, 
// (2) playing line, 
// (3) upcomming line
.lyrics > :nth-child(1), .lyrics > :nth-child(3) {
  color: var(--medium-color);
  font-size: 0.95rem;
}

.lyrics > :nth-child(2) {
  margin: 2rem 0;
  background-image: linear-gradient(to right, var(--secondary-color) 50%, var(--light-color) 50%);
  background-position-x: 50%;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.progressbar-wrapper {
  padding: 0 2px;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progressbar {
  width: 100%;
  height: 0.5rem;
  background-color: var(--secondary-color);
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.progressbar-fill {
  height: 100%;
  background-color: var(--primary-color);
}

.time {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.4rem;
  font-size: 0.7rem;
  padding: 0 2px;
  color: var(--light-color);
  opacity: 0.8;
}

.controls-wrapper {
  display: flex;
  flex-direction: column;
}

.controls {
  box-shadow: 0 0.4rem 0.6rem var(--shadow-color);
  display: flex;
  align-items: center;
  gap: 1.4rem;
  margin: 1rem auto;
  background-color: var(--controls-background-color);
  padding: 1.2rem 1.6rem;
  border-radius: 1rem;

  &.hidden {
    display: none;
  }
}

.buttons {
  display: flex;
  gap: 0.7rem;
}

.button-control {
  width: 3rem;
  padding: 0.5rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--light-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  box-shadow: 0 0.4rem 0.6rem var(--shadow-color);
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--primary-color-hover);
  }

  &:active {
    background-color: var(--primary-color-active);
  }

  &:disabled {
    background-color: var(--disabled-color);
    cursor: not-allowed;
    opacity: 0.6;
  }

  ng-icon {
    font-size: 1.5rem;
  }
}

.range-control-wrapper {
  width: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.4rem;
  height: 100%;

  label {
    font-weight: 500;
    font-size: 0.8rem;
    opacity: 0.9;
    text-align: center;
    color: var(--dark-color);
  }
}

.range-control {
  width: 100%;
  height: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.25rem;
}
