:root {
  /***********************
   * Colors
   ***********************/
  
   // Palette
  --primary-color: #2196f3;
  --primary-color-hover: #1e88e5;
  --primary-color-active: #1976d2;
  --primary-tint: #bbdefb;
  --secondary-color: #90a4ae;
  --secondary-tint-color: #cfd8dc;
  --light-color: #fefefe;
  --light-shade-color: #f5f5f5;
  --dark-color: #212121;
  --medium-color: #9c9c9c;
  
  // Util
  --disabled-color: #b0bec5;
  --disabled-color-hover: #90a4ae;
  --disabled-color-active: #78909c;
  --shadow-color: rgba(0, 0, 0, 0.1);
  
  // Theme
  --screen-background-color: #42453f;
  --controls-background-color: var(--light-shade-color);
}